<div id="filter-bar" ng-controller="eventMap.FormController">
    <div id="filter-bar-concert" class="filter-sym"></div>
    <div id="filter-bar-exhib"  class="filter-sym"></div>
    <div id="filter-bar-film"  class="filter-sym"></div>
    <div id="filter-bar-other"  class="filter-sym"></div>
    <div id="filter-slider"></div>
    <button class="btn btn-mini btn btn-inverse filter-button" type="button">Today</button>
    <button class="btn btn-mini btn btn-inverse filter-button" type="button">Tomorrow</button>
    <button class="btn btn-mini btn btn-inverse filter-button" type="button">This Week</button>
</div>
        <div id="map-main">
<map ng-controller="eventMap.MapController"></map>
            <div id="info-view"></div>
        </div>
<div id="bottom-bar"></div>