<!DOCTYPE html>
<html lang="en" ng-app="event-map">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/jquery-ui-1.9.1.custom.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
        
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        <h1>Zürich Event Map</h1>
        <div id="container" class="hide-element">
            <div id="filter-bar" ng-controller="eventMap.FilterBarController">
                <div id="filter-bar-concert" ng-click="onCategoryBtnClick('concert')" class="filter-sym" ng-class="{true:'', false:'filter-btn-off'}[filter.concert]"></div>
                <div id="filter-bar-exhib" ng-click="onCategoryBtnClick('exhib')" class="filter-sym" ng-class="{true:'', false:'filter-btn-off'}[filter.exhib]"></div>
                <div id="filter-bar-film" ng-click="onCategoryBtnClick('film')" class="filter-sym" ng-class="{true:'', false:'filter-btn-off'}[filter.film]"></div>
                <div id="filter-bar-other" ng-click="onCategoryBtnClick('other')" class="filter-sym" ng-class="{true:'', false:'filter-btn-off'}[filter.other]"></div>
                <div id="filter-time-slider">
                    <div id="filter-time-info-start" class="filter-time-info">{{filter.start | sliderDate}}</div>
                    <div id="filter-slider"></div>
                    <div id="filter-time-info-end" class="filter-time-info">{{filter.end | sliderDate:'end'}}</div>
                    <div id="filter-slider-today1"></div>
                    <div id="filter-slider-today2"></div>
                </div>
                <button class="btn btn-mini btn btn-inverse filter-button" type="button" ng-click="setFilterDates('today')">Today</button>
                <button class="btn btn-mini btn btn-inverse filter-button" type="button" ng-click="setFilterDates('tomorrow')">Tomorrow</button>
                <button class="btn btn-mini btn btn-inverse filter-button" type="button" ng-click="setFilterDates('thisWeek')">This Week</button>
                <a class="btn btn-mini btn filter-button" href="" ng-click="datepicker = !datepicker" ng-class="{true: 'btn-success', false: 'btn-inverse'}[datepicker]"><i class="icon-time icon-white"></i></a>

                <div id="datepicker" ng-show="datepicker">
                    <div id="datepicker-start"></div>
                    <div id="datepicker-end"></div>
                </div>
                <!--Map Button-->
                <div id="map-button">
                    <button class="btn btn-mini" ng-class="{'btn-success':busActive,disabled:!poiButtonsActive}" ng-click="setPOIOverlay('bus',!busActive);" type="button">Stops</button>
                    <button class="btn btn-mini" ng-class="{'btn-success':eatDrinkActive,disabled:!poiButtonsActive}" ng-click="setPOIOverlay('eatanddrink',!eatDrinkActive);" type="button">Eat & Drink</button>
                </div>
            </div>
            <div id="map-main">
                <map ng-controller="eventMap.MapController"></map>
                <div id="info-view" ng-controller="eventMap.InfoViewController">
                    <div id="info-text" ng-view class="info-text-legend-{{legend}}"></div>
                    <div id="legend">
                        <div ng-show="legend == 'bus' ||legend == 'both'"><img class="legend-img" ng-src="{{imgLegend.busLegend}}"/><span class="legend-text">Bus / Tram</span></div>
                        <div ng-show="legend == 'eatanddrink' ||legend == 'both'">
                            <img ng-src="{{imgLegend.cafeLegend}}"/><span class="legend-text">Cafe</span>
                            <img ng-src="{{imgLegend.barLegend}}"/><span class="legend-text">Bar</span>
                            <img ng-src="{{imgLegend.pubLegend}}"/><span class="legend-text">Pub</span>
                            <img ng-src="{{imgLegend.hotelLegend}}"/><span class="legend-text">Hotel</span>
                            <img ng-src="{{imgLegend.restLegend}}"/><span class="legend-text">Restaurant</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-bar">
            <div id="bottom-bar-uni"><a id="bottom-bar-uni-link" href="http://www.ikg.ethz.ch/karto/"  target="_blank">ETH Zürich - IKG</a></div>
            <div id="bottom-bar-impressum"><a id="bottom-bar-impressum-link" onclick="jQuery('#impressum').modal('show');" href="">Impressum</a></div>
            <div id="bottom-bar-creator"><a href="mailto:mpozzi@student.ethz.ch">Millo Pozzi</a> - <a href="mailto:andreas.krimbacher@gmail.com">Andreas Krimbacher</a></div>
        </div>

        <!--Alert-->
        <div id="alert" class="modal hide fade">
            <div class="modal-body">
                <p>To display this Point the filter must be changed.</p>
            </div>
            <div class="modal-footer">
                <a href="" class="btn" id="alert-cancel">Cancel</a>
                <a href="" class="btn btn-success" id="alert-filter">Change Filter</a>
            </div>
        </div>

        <!--Impressum-->
        <div id="impressum" class="modal hide fade">
            <div class="modal-body">
                <p>Milo und Andreas.</p>
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-success" id="impressum-close">Close</a>
            </div>
        </div>




        <!-- External Js -->
        <script src="js/angular/angular-1.0.2.js"></script>
        <script src="js/angular/angular-resource.js"></script>


        <script src="js/vendor/jquery-1.8.2.min.js"></script>
        <script src="js/vendor/bootstrap.js"></script>
        <script src="js/vendor/underscore.js"></script>
        <script src="js/vendor/jquery-ui-1.9.1.custom.js"></script>
        <script src="js/plugins.js"></script>

        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXCjjeeR2Nn5TAVS2fjI31NJzJQVwvcU0&sensor=false&libraries=drawing,geometry">
        </script>

        <!-- Own Js -->
        <script src="js/app.js"></script>
        <script src="js/controllers/FilterBarController.js"></script>
        <script src="js/controllers/InfoViewController.js"></script>
        <script src="js/controllers/InfoViewTextController.js"></script>
        <script src="js/controllers/MapController.js"></script>
        <script src="js/services/MapData.js"></script>
        <script src="js/services/MapService.js"></script>
        <script src="js/services/ImageLoader.js"></script>
        <script src="js/services/Cluster.js"></script>
        <script src="js/services/Slider.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/filters.js"></script>

    </body>
</html>
